@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  --lightMode-blue: #0079ff;
  --lightMode-grey: #697c9a;
  --lightMode-dark-blue: #4b6a9b;
  --lightMode-dark-grey: #2b3442;
  --lightMode-light-grey: #f6f8ff;
  --lightMode-white: #fefefe;

  --darkMode-blue: #0079ff;
  --darkMode-white: #ffffff;
  --darkMode-black: #141d2f;
  --darkMode-dark-blue: #1e2a47;
}
